/* repo-card */
.repo-card {
  background-color: var(--bg-secondary);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 1rem 0px var(--shadow-color);
}

.repo-title {
  font-weight: 500;
}

.repo-description {
  margin: 1rem 0;
}

.repo-links-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 1rem;
}

.repo-link {
  background-color: var(--t);
  color: var(--bg-secondary);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

/* skeleton-loading */
.repo-link:has(.skeleton-loading-line) {
  background-color: transparent;
  padding: 0;
}

.skeleton-loading-line {
  --width: 7.5rem;
  --animation-duration: calc(0.33 * 10s);
  --glare-size: 1rem;
  display: block;
  margin: 1rem 0rem;
  width: var(--width);
  height: 1rem;
  --skeleton-bg: hsl(202, 25%, 90%);
  --skeleton-gradient: linear-gradient(
    90deg,
    var(--skeleton-bg) 80%,
    hsla(202, 25%, 100%, 0.6) calc(80% + var(--glare-size)),
    var(--skeleton-bg) calc(80% + (2 * var(--glare-size)))
  );
  background-color: var(--skeleton-bg);
  background-image: var(--skeleton-gradient);
  border-radius: 0.25rem;
  background-repeat: repeat-y;
  background-size: 200%;
  background-position: 200% 0;
  animation: skeleton-animation var(--animation-duration) linear infinite;
}

.skeleton-loading-line-title {
  --width: 33%;
  --animation-duration: calc(4s);
}

.skeleton-loading-line-description {
  --width: 100%;
  --animation-duration: calc(4s);
}

.skeleton-loading-line-description:last-of-type {
  --width: 90%;
  --animation-duration: calc(4s);
}

@keyframes skeleton-animation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0% 0%;
  }
}
