*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: hsl(202, 40%, 96%);
  --bg-secondary: hsl(202, 40%, 98%);
  --text-primary: hsl(221, 31%, 19%);
  --text-secondary: hsl(220, 29%, 31%);
  --shadow-color: hsla(219, 15%, 66%, 0.1);
  --t: hsl(219, 15%, 50%);
  --font-primary: "Fira Sans", sans-serif;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-primary);
}

/* repo-card-wraper */
.repo-card-wraper {
  width: min(100%, 1000px);
  margin: 0 auto;
}
